<div class="create-house create-home">
  <header>
    <h2>Create Quiz</h2>
  </header>

  <%= form_for @quiz do |f| %>

    <%= f.label :title, :class => "label" %><br>
    <%= f.text_field :title, :placeholder => 'title', :class => 'form-control' %><br>

    <%= f.label :barier, :class => "label" %><br>
    <%= f.text_field :barier, :placeholder => '100', :value => 100, :class => 'form-control' %><br><br>

    <%= f.hidden_field :room_id, :value => @room_id%>
    <p><%= f.submit 'Create quiz', :class => 'btn btn-primary' %></p>
  <% end %>

</div>
