<div class="row inside-world">
  <div>
    <% (1..18).each do |place_id| %>
      <%- if @building=find_place(@houses, @stores, place_id) %>
        <div class="place">
          <%= image_tag("house_2.png", :class => "place-img") %>
          <% if @building.respond_to? :type_id%>
            <span class='label label-info place-link', style="background: #88D4EA">
              <%= link_to @building.title, @building %>
          <% elsif %>
            <span class='label label-info place-link', style="background: #88EAAE">
              <%= link_to @building.title, @building %>
          <% end %>
            
           </span> 
        </div>
      <% else %>
        <div class="place">
          <div class="empty">
            <%= image_tag("house_empty.png", :class => "place-img") %>
            <span class='label label-success place-link', style="background: #FFBBB9;">
              <% if current_user.badges.first.id == 4  %>
                <%= link_to 'Create', new_building_path(:place_id => place_id, :world_id => @world.id) %>
              <% elsif %>
                Free Place
              <% end %>
            </span>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>