<div class="create-house">
  <header>
    <h2>Create New House</h2>
  </header>

  <%= form_for @house do |f| %>
    <%= f.label :title, :class => "label" %> <br>
    <%= f.text_field :title, placeholder: 'e.g: Loop'%> <br>

    <%= f.label :base_layout_code, :class => "label"  %> <br>
    <%= f.text_area :base_layout_code, placeholder: 'Some HTML code' %><br>
    
    <%= f.label :lesson_list_layout_code, :class => "label"  %> <br/>
    <%= f.text_area :lesson_list_layout_code, placeholder: 'More HTML code' %><br>
    
    <p><%= f.hidden_field :place_id, :value => @place_id %></p>
    <p><%= f.hidden_field :world_id, :value => @world_id %></p>
    
    <%= f.submit 'Create House'%>
  <% end %>
</div>
