<div class="create-house create-home">
  <header>
    <h2>Create New Room</h2>
  </header>

  <%= form_for @room do |f| %>

    <div class="row">
      <div class="col-md-2" style="overflow-y: scroll; max-height: 100px;">
        <label class="label">Skills required</label><br>
        <%- @skills.each do |skill| %>
          <input type="checkbox" name="room[skills_required][]" value="<%= skill.id %>"> <%= skill.name %>  <br>
        <% end %>
      </div>

      <div class="col-md-2" style="overflow-y: scroll; max-height: 100px;">
        <label class="label">Skills gained</label><br>
        <%- @skills.each do |skill| %>
          <input type="checkbox" name="room[skills_gained][]" value="<%= skill.id %>"> <%= skill.name %> <br>
        <% end %>
      </div>
    </div>
    <br>

    <%= f.label :title, :class => "label" %><br>
    <%= f.text_field :title, :placeholder => 'title', :class => 'form-control' %><br>

    <%= f.label :description, :class => "label" %><br>
    <%= f.text_area :description, :placeholder => 'description', :class => 'form-control' %><br>

    <%= f.label :base_layout_code, :class => "label" %><br>
    <%= f.text_area :base_layout_code, :placeholder => 'base layout code', :class => 'form-control' %><br>

    <%= f.label :viewer_layout_code, :class => "label" %><br>
    <%= f.text_area :viewer_layout_code, :placeholder => 'Viewer layout code', :class => 'form-control' %><br>

    <%= f.label :quiz_base_layout_code, :class => "label" %><br>
    <%= f.text_area :quiz_base_layout_code, :placeholder => 'quiz base layout', :class => 'form-control' %><br>

    <%= f.label :quiz_question_code, :class => "label" %><br>
    <%= f.text_area :quiz_question_code, :placeholder => 'quiz question code', :class => 'form-control' %>

    <%= f.label :video_enabled, :class => "label" %>
    <%= f.check_box :video_enabled %><br><br>

    <%= f.hidden_field :house_id, :value => @house_id%>
    <p><%= f.submit 'Create room', :class => 'btn btn-primary' %></p>
  <% end %>

</div>
