<div class="create-house create-home">
  <header>
    <h2>Create New Room</h2>
  </header>

  <%= form_for @room do |f| %>

    <div class="row">
      <div class="col-md-2" style="overflow-y: scroll; max-height: 100px;">
        <label class="label">Skills required</label><br>
        <%- @skills.each do |skill| %>
          <input type="checkbox" name="room[skills_required][]" value="<%= skill.id %>"> <%= skill.name %>  <br>
        <% end %>
      </div>

      <div class="col-md-2" style="overflow-y: scroll; max-height: 100px;">
        <label class="label">Skills gained</label><br>
        <%- @skills.each do |skill| %>
          <input type="checkbox" name="room[skills_gained][]" value="<%= skill.id %>"> <%= skill.name %> <br>
        <% end %>
      </div>
    </div>
    <br>

    <%= f.label :title, :class => "label" %><br>
    <%= f.text_field :title, :placeholder => 'title', :class => 'form-control' %><br>

    <%= f.label :description, :class => "label" %><br>
    <%= f.text_area :description, :placeholder => 'description', :class => 'form-control' %><br>

    <%= f.label :base_layout_code, :class => "label" %><br>
    <%= f.text_area :base_layout_code, :value => "<div style='width: 100%;'><a href='%-link_to_quiz-%'> <button style='margin-top: -10px; background-color: #88DDA6; border: none; font-size: 15px; text-align: center; color: #fff; width: 158px; height: 39px;'> Take Quiz </button></a><br>%-tutorial_viewer-%</div>", :class => 'form-control' %><br>

    <%= f.label :viewer_layout_code, :class => "label" %><br>
    <%= f.text_area :viewer_layout_code, :value => "<div style='width: 100%; font-size: 1.1em; margin-top: 30px;'>%-tutorial_description-%</div>", :class => 'form-control' %><br>

    <%= f.label :quiz_base_layout_code, :class => "label" %><br>
    <%= f.text_area :quiz_base_layout_code, :value => "<div style='width: 100%;'><h1 style='border-bottom: 1px solid #ddd; padding-bottom: 10px; display: inline-block; font-size: 3.2rem; line-height: 1.1em; font-weight: 200; margin-bottom: 25px;'>%-quiz_question_title-%</h1>%-quiz_question_layout-%</div>", :class => 'form-control' %><br>

    <%= f.label :quiz_question_code, :class => "label" %><br>
    <%= f.text_area :quiz_question_code, :value => "<div style='width: 100%;'><div>%-answer_1-%</br>%-answer_2-%</br>%-answer_3-%</br>%-answer_4-%</br><input type='submit' style='margin-top: 20px; background-color: #88DDA6; border: none; font-size: 15px; text-align: center; color: #fff; width: 158px; height: 39px;'></br></div>", :class => 'form-control' %>

    <%= f.label :video_enabled, :class => "label" %>
    <%= f.check_box :video_enabled %><br><br>

    <%= f.hidden_field :house_id, :value => @house_id%>
    <p><%= f.submit 'Create room', :class => 'btn btn-primary' %></p>
  <% end %>

</div>
