<!DOCTYPE html>
<html>
<head>
  <title>CodeWorld</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%- if current_user %>
    <div class="navbar navbar-default navbar-fixed-top header" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header logo">
          <a class="navbar-brand" href="/">Code World</a>
        </div>
        
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="points-container", style="width: 150px">
              <span><%= current_user.fullname %></span>
            </li>
            <li class="points-container" style="width: 70px;">
              <i class="glyphicon glyphicon-usd" style="color: green;"></i> <%=current_user.points %>
            </li>
            <li class="points-container">
              <i class="glyphicon glyphicon-heart-empty" style="color: red"></i> <%=current_user.health.to_i %>
            </li>
            <li>
              <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
            </li>
          </ul>
        </div> 
      </div>  
    </div>
  <% end -%>

  <%- if current_user %>
    <div class="container" style="margin-top: 70px;">
      <%= yield %>
    </div>
  <% else %>
    <div class="container auth">
      <%= yield %>
    </div>
  <% end %>


<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>
